/*
Colors used:
Primary Color (Honey Orange): #f7ba7b;
Secondary Color (Green): #489c79;
*/
* {
  box-sizing: border-box;
}
body {background-color: #fffbf6; }
body {
  font-family: 'Roboto Slab', serif;
}
img {
  width: 100%;
}
a {
  color: #008037;
  text-decoration: none; /* Not hovering*/
}
a:hover {
  color: #f7ba7b;
  text-decoration: underline; /* When hovering*/
}
a:hover,
a:focus {
  color: #f7ba7b;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #008037;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}
.button.contact {
  background-color: transparent;
  color: #008037;
  text-transform: uppercase;
  border: 2px solid #008037;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
a {
  color: red;
}
#my-link {
  color: orange;
}
}
.my-link {
  color: green;
}
/* Layout Styling */
.container {
  padding: 0px 15px;
}
.container2 {
  text-align: center;
}

header {
  background-color: lightgrey;
   padding: 0px 0px;
   display: inline-block;
   position: fixed;
   box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   width: 100%;
}
nav > ul > li {
  display: inline-block;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.logo {
  max-width: 250px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle li:last-child {
  display: none;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #008037;
  list-style-type: none
}
main {
  padding-top: 130px;
  padding-bottom: 20px;
}
#hero h1 {
  text-align: center; /* Centers text */
}
#hero h2 {
  text-align: center;
  margin: 0px;
  padding: 1.10em 0; /* Centers text */
}
#hero {
  background-color: lightgrey;
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  width: 100%
}
#my-link {
  padding-bottom: 20px;
}
#work {
  text-align: center;
  width: 100%;
}
#work2 {
  text-align: center;
  background-color: #ffe4c4;
  width: 100%;
}
#tools ul {
  text-align: center;
}
#tools {
  text-align: center;
}
#skills {
  text-align: center;
}
#skills ul {
  text-align: center;
}
#contact {
  text-align: center;
  background-color: #lightgrey;
  padding: 10px 0;
  display: inline-block;
  width: 100%
  onclick="menuToggle()"
}
#project {
  text-align: center;
}
#h4 {
  text-align: center
}
footer {
  background-color: #929292;
   text-align: left;
   padding: 100px 0px;
   text-align: left;
   margin: 0px;
   position: static;
   padding-top: 100px;
}
.imgwrapper,
.deswrapper {
  padding: 10px;
}
@keyframes color-change {
  0% {fill: #edc655;}
 50% {fill: #7ed597;}
 100% {fill: #e2b808;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(300px,150px);}
}
.cloud-front {
  animation: 10s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(10px, 448px);}
}
.cloud-back {
  animation: 20s cloud-move-reverse infinite alternate linear;
}

/* Media Q Styling */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
}
header {
    text-align: unset;
    padding: 20px 0 13px;
}
nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}
nav > ul {
  margin: 1em 0;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
#hero span { /*might have to delete, for making text appear in two lines but already did*/
  display: block;
}
.col-md-6 { /*The col is what tells us this is for columns, the md stands for medium devices (screen sizes), and the 6 is for the 6-column span we want this column to occupy.*/
  width: 50%;
}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear:;
  display: table;
}
#sociallinks {
  display: inline-block;
  width: 100%;
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
* {
  box-sizing: border-box;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.container {
  max-width: 1200px;
  margin-left: auto;/*might have to delete, moved footer around, can change class to row to fix, did on index.*/
  margin-right: auto;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
