/*
Colors used:
Primary Color (Honey Orange): #f7ba7b;
Secondary Color (Green): #489c79;
*/
body {background-color: lightgrey; }
body {
  font-family: 'Roboto Slab', serif;
}


img {
  width: 100%;
}
a {
  color: #008037;
  text-decoration: none; /* Not hovering*/
}
a:hover {
  color: #f7ba7b;
  text-decoration: underline; /* When hovering*/
}
a:hover,
a:focus {
  color: #f7ba7b;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #008037;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}
.button.contact {
  background-color: transparent;
  color: #008037;
  text-transform: uppercase;
  border: 2px solid #008037;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
a {
  color: red;
}
#my-link {
  color: orange;
}
}
.my-link {
  color: green;
}
/* Layout Styling */
.container {
  padding: 0px 30px;
}
.container2 {
  padding: 20px 30px;
}
header {
  background-color: #ffe4c4;
   text-align: center;
   padding: 20px 0px;
   text-align: center;
   margin: 30px;
   position: relative;
   webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
selector {
  margin: 1000 auto; /* No spacing to top and bottom and auto spacing to left and right */
}
selector {
  position: relative;
}
selector {
  float: right;
}
selector {
  width: 1200px;
}
selector {
  width: 80%; /*can use this or px above, delete one and use other */
}
.container {
  max-width: 1200px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers text */
}
#hero h2 {
  text-align: center;
  margin: 99.8px;
  padding: 1.10em 0; /* Centers text */
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {/* how to move navs on header to one line */
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #008037;
}
#hero {
  background-color: #ffe4c4;
  text-align: center;
}
main {
  padding-top: 99.8px;
}
#my-link {
  padding-bottom: 20px;
}
#work {
  text-align: center;
}
#work2 {
  text-align: center;
  background-color: #ffe4c4;
  text-align: center;
  padding: 20px 0px;
  text-align: center;
  margin: 0px;
  position: static;
}
#project {
  text-align: center;
}
#h4 {
  text-align: center
}
footer {
  background-color: #light-grey;
   text-align: left;
   padding: 10px 0px;
   text-align: left;
   margin: 10px;
   position: static;
   padding-top: 100px;
}
/* Media Q Styling */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
#hero span { /*might have to delete, for making text appear in two lines but already did*/
  display: block;
}
.col-md-6 { /*The col is what tells us this is for columns, the md stands for medium devices (screen sizes), and the 6 is for the 6-column span we want this column to occupy.*/
  width: 50%;
}
.col-md-7 {
  width: 58.33%;
}
.col-md-5 {
  width: 41.66%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-5 {
  width: 41.66%;
}
[class*="col-"] {
  float: right;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin-left: auto;/*might have to delete, moved footer around, can change class to row to fix, did on index.*/
  margin-right: auto;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
