/*
Colors used:
Primary Color (Honey Orange): #f7ba7b;
Secondary Color (Green): #489c79;
*/
*
body {background-color: lightgrey; }
body {
  font-family: 'Roboto Slab', serif;
}


img {
  width: 100%;
}
a {
  color: #008037;
  text-decoration: none; /* Not hovering*/
}
a:hover {
  color: #f7ba7b;
  text-decoration: underline; /* When hovering*/
}
a:hover,
a:focus {
  color: #f7ba7b;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #008037;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #008037;
  text-transform: uppercase;
  border: 2px solid #008037;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
a {
  color: red;
}
#my-link {
  color: orange;
}
}
.my-link {
  color: green;
}
/* Layout Styling */
.container {
  padding: 0 15px;
}
header {
  background-color: #ffe4c4;
   text-align: center;
   padding: 20px 0px;
   text-align: center;
   margin: 30px;
   position: relative;
   webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}
selector {
  position: relative;
}
selector {
  float: right;
}
selector {
  width: 1200px;
}
selector {
  width: 80%; /*can use this or px above, delete one and use other */
}
.container {
  max-width: 1200px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers text */
}
#hero h2 {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {/* how to move navs on header to one line */
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #008037;
}
#hero {
  background-color: #ffe4c4;
}
#hero h2 {
  margin: 0;
  padding: 1.10em 0;
}
main {
  padding-top: 10px;
}
#my-link {
  padding-bottom: 20px;
}
#work {
  text-align: center;
}
#h4 {
  text-align: center
}
footer {
  background-color: #light-grey;
   text-align: left;
   padding: 10px 0px;
   text-align: left;
   margin: 10px;
   position: static;
}
